:root {
    font-size: 1.5vw;
    --brightRed: hsl(12, 88%, 59%);
    --darkBlue: hsl(228, 39%, 23%);
    --darkGrayishBlue: hsl(227, 12%, 61%);
    --veryDarkBlue: hsl(233, 12%, 13%);
    --veryPaleRed: hsl(13, 100%, 96%);
    --varyLightGray: hsl(0, 0%, 98%);

}

@media screen and (min-width: 900px) {
    :root {font-size: 16px;}

}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url(https://fonts.google.com/specimen/Be+Vietnam+Pro) format("truetype");
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    color: var(--darkGrayishBlue);
    margin: 0px;
    padding: 0px;
    background: url(./images/bg-tablet-pattern.svg) repeat white;
    min-height: 100vh;
    max-width: 90vw;
    /* background-origin: ; */
}

header {
    color: var(--darkBlue);
    justify-content: center;
    display: flex;
    width: 100%;
    height: 8rem;
}

header > div {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 10rem;
    padding: 0px;
    height: 2rem;
}

header > div > img {
    height: 2rem;
}

.navBar {
    white-space: nowrap;
    justify-content: center;
    top: 0%;
    /* position: absolute; */
    left: calc(50vw - 50%);
    /* margin-left: 2rem; */
    /* margin-top: 2rem; */
    display: flex;
    width: min-content;
}

/* .logo {} */

.getStarted {
    justify-content: center;
    width: max-content;
    color: white;
    background-color: var(--brightRed);
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.getStarted > p {
    white-space: nowrap;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    top: 25%;
    transform: translateY(-100%);

}

.navBar > div{
    padding-left: 2rem;
}

.navBar > div > p {
    top: 50%;
    transform: translateY(-50%);
}

content {
    width: 80vw;
    position: relative;
    left: 10vw;
}

.topDiv {
    margin: 0%;
    position: relative;
    left: 0%;
    width: 100%;
    display: flex;
}

.topDiv > div {
    left: 0em;
    /* background-color: blue; */
}

.topDivText {
    width: 40%;
    margin: 0px;
    /* margin-right: %; */
}

.mainHeadingText {
    color: var(--darkBlue);
    font-size: 3.5rem;
}

.topDivImage {
    position: relative;
    width: 35%;
    top: 0px;
    left: 45%;
    margin: 0%;
}

/* testimonials { }*/

footer {
    background-color: var(--veryDarkBlue);
    height: 40rem;
    width: 100vw;
    position: relative;
    top: calc(100vh - 20rem);
}

.simplifyBanner {
    background: url(./images/bg-simplify-section-desktop.svg) no-repeat center var(--brightRed);
    color: white;
    width: 100%;
    height: 15rem;
    min-height: calc(min-content + 1rem);
    position: relative;
    top: 0px;
    font-size: 2.75rem;
}

.simplifyText {
    position: relative;
    width: 35%;
    left: 10vw;
    top: 50%;
    transform: translateY(-50%);
}