:root {
    font-size: 16px;
    --brightRed: hsl(12, 88%, 59%);
    --darkBlue: hsl(228, 39%, 23%);
    --darkGrayishBlue: hsl(227, 12%, 61%);
    --veryDarkBlue: hsl(233, 12%, 13%);
    --veryPaleRed: hsl(13, 100%, 96%);
    --varyLightGray: hsl(0, 0%, 98%);

}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url(https://fonts.google.com/specimen/Be+Vietnam+Pro) format("truetype");
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    color: var(--darkGrayishBlue);
    margin: 0px;
    padding: 0px;
    background-color: white;
    min-height: 100vh;
    max-width: 100vw;
}

.topDivText {
    color: var(--veryDarkBlue);
    width: 45%;
    margin: 0px;
    margin-right: 10%;
}

.mainHeadingText {
    font-size: 3.5rem;
}

content {
    width: 80vw;
    position: relative;
    left: 10vw;
}

/* testimonials { }*/

footer {
    background-color: var(--veryDarkBlue);
    height: 25rem;
    width: 100vw;
    position: relative;
    top: calc(100vh - 12.5rem);
}

.simplifyBanner {
    
}